@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


.btn {
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    border: #0070f3 solid 2px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    background: #0070f3;
}

.btn:hover {
    border-color: #60a9ff;
    cursor: pointer;
}